body
{
    margin: 0;
    padding: 0;
}

.header
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    /*position: fixed;*/
    width: 100%;
    height: 80px;
    background: black;
    color: white;
    font-family: Roboto Light,sans-serif;
    align-items: center;
}

.header logo
{
    float: left;
    font-size: 30px;
    text-align: center;
}

.header-nav
{
    float: right;
    text-align: center;
}

.header-nav a
{
    color: #999999;
    font-size: 20px;
    text-decoration: none;
    padding: 0 20px;
    transition: color 0.5s;
}

.header-nav a:hover
{
    color: white;
}

.burger
{
    position: relative;
    display: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    top: 0%;
}

.burger-span
{
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: #ffffff;
    top: 50%;
    transform: translateY(-50%);
}


.burger-span::before, .burger-span::after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
}

.burger-span::before
{
    transform: translateY(-12px);
}

.burger-span::after
{
    transform: translateY(12px);
}

.header-responsive
{
    display: flex;
    justify-content: space-between;
}

.content
{
    display: block;
}

.titre
{
    line-height: 400px;
    font-size: 50px;
    justify-content: center;
    text-align: center;
}